* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ececdb;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 3em;
}

.accordion {
    width: 60%;
    margin: auto;
}

.accordion-item {
    z-index: 150;
}

.accordion .accordion-body {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: hidden 300ms;
}

img {
    margin: auto;
    display: block;
    margin-bottom: 0.5em;
    width: 0;
    transition: width 300ms;
}

 .memi-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.1em solid #8bc34a;
}

.accordion input{
    display: none;
}

.accordion .label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: #2020ec;
    display: block;
    width: 100%;
    padding: 1.2em 0;
    cursor: pointer;
}

.accordion .label-close {
    font-size: 2.3em;
    font-weight: 900;
    color: #000000;
    visibility: visible;
    opacity: 1;
}

.accordion input:checked + label .label-close {
    transform: rotate(-45deg);
}

.accordion input:checked + label .accordion-body {
    visibility: visible;
    height: 100%;
    padding: 1em;
    cursor: pointer;
}

.accordion input:checked + label .accordion-body img {
    width: 40%;
}

.accordion input:checked + label .label {
    color: #000000;
}

.accordion input:checked + label:active .label {
    color: #2090ec;
}

@media (hover:hover) {
    .accordion .label-close {
        font-size: 2.3em;
        font-weight: 900;
        visibility: hidden;
        opacity: 0;
    }

    .accordion:hover .label-close {
        visibility: visible;
        opacity: 1;
    }
    
    .accordion .accordion-item:hover .label-close {
        transform: rotate(-45deg);
    }
    
    .accordion .accordion-item:hover .accordion-body {
        visibility: visible;
        height: 100%;
        padding: 1em;
        cursor: pointer;
    }
    
    .accordion .accordion-item:hover img {
        width: 40%;
    }
    
    .accordion:hover .label {
        color: black;
    }
}